@import url("https://fonts.googleapis.com/css?family=Trirong");

body {
    font-family: "Trirong", serif;
    font-size: 17px;
    line-height: 1.5;
    background-color: #ecf8f8;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

html, body{
  height: 100%;
}

.button_1{
  height: 38px;
  background: #e8491d;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.backgr{
  padding: 10px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button_1{
  height: 38px;
  background: rgb(96, 52, 107);
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.backgr{
  padding: 12px;
  background:	#ad7bee ;
  color: #ffffff;
  margin-top: 9px;
  margin-bottom: 10px;
}

/*Navigation styles*/
header{
  background: rgb(43, 122, 120);
  color: #ffffff;
  padding: 10px 0px;
  border-bottom: #a1dedc 3px solid;
}

header li{
  display: inline-block;
  padding: 0px 20px;
  margin: 25px 0px;
}

header a{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
}

header img{
  float: left;
  width: 100px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .current a{
  color: #5ccac7;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  text-decoration: none;
}

/*Content*/
.row {
  padding: 50px;
}

.row h1 {
  color: #e8491d;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  text-shadow: 4px 4px lightsteelblue;
  padding-bottom: 40px;

}

.row img {
  width: 60%;
}

.row h3 {
  padding: 20px 0px;
  font-size: 25px;
  font-weight: bolder;
}

.row p {
  padding-right: 50px;
}

.col-md-4 {
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-31-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e1ee6e84fa2c584170bab2733ea5a1b0);
  background-size: 310%;
  background-blend-mode: lighten;
  height: 680px;
}

.col-md-4 h3{
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 20px;
}

.col-md-4 img{
  margin-bottom: 15px;
  border: 5px solid snow;
  width: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Footer*/
.footer {
  background: rgb(43, 122, 120);
  color: #5ccac7;
  height: 420px;
  position: relative;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.footer .footer-content{
  height: 320px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
}

footer .highlight{
  color:rgba(36, 36, 36, 0.733);
}

.email input, aside#sidebar .email textarea{
  width: 90%;
  padding: 2px;}

.footer .footer-content h5 {
  font-weight: bold;
  padding: 15px 0px;
}

.footer .footer-content .about p{
color: white;
}

.footer .footer-content .about .socials a {
  width: 45px;
  height: 41px;
  text-align: center;
  font-size: 13px;
  transition: all .3s ;
}

.footer .footer-content .about .socials a:hover {
  transition: all .3s ;
}

.footer .footer-content .links a{
  margin-bottom: 10px;
  text-decoration: none;
  text-indent: 0px;
  transition: all .3s;
  color: white;
  padding: 0px;
  margin: 0px;
}

.footer .footer-content .links a:hover {
  color: white;
  margin-left: 15px;
  transition: all .3s;
}

.footer .footer-content .contact-form .contact-input {
  background: #ad7bee;
  color: #bebdbd;
  margin-bottom: 10px;
  line-height: 1rem;
  padding: .9rem 1.4rem;
}

.footer .footer-content .contact-form .contact-input :focus {
  background: rgb(96, 52, 107);
}

.footer .footer-bottom {
  background: rgb(43, 122, 120);
  color: rgba(245, 245, 245, 0.404);
  height: 50px;
  width: 100%;
  text-align: center;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  
}

button.button_1 {
  height: 38px;
  background: rgb(43, 122, 120);
  border: 2px solid white;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  margin-top: 10px;
}

/*Media Queries*/
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #boxes .box,
  article#main-col,
  aside#sidebar
  footer #footer{
      float: none;
      text-align: center;
      width: 100%;
  }
}



  